body {
  margin: 10px 25%;
}

mat-card {
  margin: 10px;
  text-align: center;
  min-width: 400px;
}

mat-form-field, button {
  display: block;
  width: 100%;
}

mat-slider {
  width: 100%
}

.ingredients {
  width: 48%;
}

#recipe-box {
  border: solid gray 2px;
  border-radius: 7px;
  background-color: #f7f7f7;
  padding: 10px;
}

textarea, ul  {
  background-color: white;
}
