body {
  margin: 10px 25%;
}

mat-card {
  margin: 10px;
  text-align: center;
  min-width: 400px;
}

mat-form-field, button {
  display: block;
  width: 100%;
}

mat-slider {
  width: 100%
}

.ingredients {
  width: 48%;
}
