<body >


<div class="login-card">
  <mat-card >
    <div style="text-align: center">

      <img src="assets/images/logo.png" id="login-logo" style="float: bottom;">

      <h1 style="float: bottom; clear: both">Cookn Login</h1>

    </div>

    <mat-card-content >

      <div (keydown)="enterSubmit($event)">
        <mat-form-field appearance="legacy">
          <mat-label>Username</mat-label>
          <input type="text" matInput [(ngModel)]='username'  placeholder="or email" >

        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]='password' placeholder="" >
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <div style="display: block">

        <button mat-raised-button class="login-btn" [disabled]="loading" (click)="login()" color="primary">Login</button>

        <button mat-raised-button class="login-btn" style="clear: both" routerLink="/register" (click)="register()">Register</button>

      </div>
    </mat-card-actions>
  </mat-card>

</div>

</body>
