.article-card {
  width: 300px;
  margin: 10px;
  float: left;
}


.example-header-image {
  background-image: url('https://cdn4.iconfinder.com/data/icons/basic-interface-overcolor/512/user-512.png');
  background-size: cover;
}
